<h1 class="title">VegIT</h1>


<h1 class="current"><%= params[:category] %></h1>

<% if @recipes.count == 0 %>
<h1> There are no recipes in this category yet </h1>
<% else %> 


<div class="row">


<% @recipes.each do |recipe| %>
<div class="col-md-3">
	<a href="/recipes/<%= recipe.id %>">
		<%= image_tag recipe.recipe_img.url(:recipe_index), class: "recipe" %>
</a>
</div>
	<% end %>
</div>
	<% end %>

<%= link_to "Add Recipe", new_recipe_path %>
