<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>


 <% if user_signed_in? %>


	<% if review.user_id == current_user.id %>

<%= link_to "Edit", edit_recipe_review_path(review.recipe, review) %>
<%= link_to "Delete", recipe_review_path(review.recipe, review), method: :delete, data: {confirm: "Are you sure?" } %>

<% end %>

<% end %>