<div class="review">

<div class="review-rating" data-score="<%= review.rating %>"></div>
<p class="review-comment"><%= review.comment %></p>


 <% if user_signed_in? %>


	<% if review.user_id == current_user.id %>

<div class="links btn-group">
<%= link_to "Edit", edit_recipe_review_path(review.recipe, review), class: "btn btn-custom" %>
<%= link_to "Delete", recipe_review_path(review.recipe, review),:class => "btn btn-custom", method: :delete, data: {confirm: "Are you sure?" } %>

<% end %>
</div>

<% end %>